<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dados do Agendamento</h1>

    <% for (let dadosVisita of locals.dadosVisita) { %>
        <span><%= dadosVisita.nome %></span>
        <span><%= dadosVisita.cel %></span>
        <span><%= dadosVisita.email %></span>
        <span><%= dadosVisita.diavisita %></span>
        <span><%= dadosVisita.horavisita %></span>
    <% } %>
</body>
</html>